# dirs to exclude
**/project.xcworkspace
**/xcshareddata
*.dylib
*.mxe
*.mxe64
*.mxo
*.o
*.opensdf
*.pyc
*.sdf
*.sln
*.suo
.env
.DS_Store
.mypy_cache
.pytest_cache
.vs
.vscode
__pycache__
archive
build
CMakeFiles
env.sh
externals/*
extensions/*
javascript/node_modules
leoenv
log.txt
logs
package-info.json
source/projects/py/docs
source/projects/py/dump.yml
source/projects/py/scripts/archive/*
support/*
sysbuild
tmp
