# dirs to exclude
**/project.xcworkspace
**/xcshareddata
.DS_Store
__pycache__
.pytest_cache
.mypy_cache
.vscode
*.pyc
*.mxo
*.mxe
*.mxe64
support/*
externals/*
source/py/scripts/archive/*
leoenv
*.a
.vscode

__*
sysbuild
*.sdf
*.suo
*.sln
*.opensdf
log.txt
build
*.o
*.dylib
tmp
.DS_Store
.vs
package-info.json
archive
