#include "../common.xcconfig"

PREFIX = $(SUPPORT)/python$(VERSION)
PY_HEADERS = $(PREFIX)/include/python$(VERSION)$(ABIFLAGS)
PY_LIBS = $(PREFIX)/lib

PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl

// old (with gettext dependency)
//PY_LIBS = $(PREFIX)/lib /usr/local/Cellar/gettext/0.21/lib
//PY_LDFLAGS = -lpython$(VERSION) -ldl -lintl

