#include "../common.xcconfig"

BUILD = $(SRCROOT)/../build
PREFIX = $(SUPPORT)/python$(VERSION)
PY_HEADERS = $(PREFIX)/include/python$(VERSION)
PY_LIBS = $(PREFIX)/lib $(BUILD)/Support/BZip2 $(BUILD)/Support/OpenSSL $(BUILD)/Support/XZ
PY_LDFLAGS = -lpython$(VERSION) -ldl -lOpenSSL -lbzip2 -llzma -lxz -lsqlite3 -lz

//PY_LIBS = $(PREFIX)/lib
//PY_LDFLAGS = -lpython$(VERSION) -ldl

//PY_LIBS = $(PREFIX)/lib /usr/local/Cellar/gettext/0.20.2_1/lib
//PY_LDFLAGS = -lpython$(VERSION) -ldl -lintl
