#include "../../../../maxmspsdk.xcconfig"

PY_VERSION = 3.9.12
PY_SHORT_VERSION = 3.9
PROJECT_FOLDER_NAME =

// -------------------------------------------------------------------------
// DON'T CHANGE BELOW HERE
// -------------------------------------------------------------------------

// Don't count on what VERSION is set to here since VERSION is set 
// dynamically, at the time of commandline compilation (via xcodebuild),
// to correspond to the version of the python interpreter.
//
// If you try to compile from xcode though, xcode will rely on the number here
// So you can override it at the target level if desired or changing the 
// value of PY_SHORT_VERSION above to correspond to the version of
// your python interpreter version.
//
// Note that in call cases, commandline compilation will set VERSION
// and other variables such as ABIFLAGS dynamically.

VERSION = $(PY_SHORT_VERSION)
ABIFLAGS = 

PYJS_BUILD_ROOT = $(SRCROOT)/../build
// PYJS_BUILD_ROOT = $(HOME)/.build_pyjs

// NUMPY HEADERS can be obtained by 'import numpy; numpy.get_include()'
// NUMPY HEADERS will be overriden by builder.xcodebuild
// i.e. no need to manually change it here
NUMPY_HEADERS = /usr/local/lib/python3.9/site-packages/numpy/core/include

PYJS_BUILD_DOWNLOADS = $(PYJS_BUILD_ROOT)/downloads
PYJS_BUILD_SRC = $(PYJS_BUILD_ROOT)/src
PYJS_BUILD_LIB = $(PYJS_BUILD_ROOT)/lib

SUPPORT = $(SRCROOT)/../../../../../support
PRODUCT_NAME = $(TARGET_NAME)
HEADER_SEARCH_PATHS = $(inherited) "$(PY_HEADERS)"
LIBRARY_SEARCH_PATHS = $(inherited) $(PY_LIBS)
OTHER_LDFLAGS = $(inherited) $(PY_LDFLAGS)

// The Default is
// DSTROOT = $(SRCROOT)/../../../externals 
// Uncomment below if you wish to build your externals in $(PYJS_BUILD_ROOT)/externals 
// DSTROOT = $(PYJS_BUILD_ROOT)/externals
// OR
// DSTROOT = $(PYJS_BUILD_ROOT)/externals/$(PY_VERSION)/$(NATIVE_ARCH)/$(PROJECT_FOLDER_NAME)