#include "../common.xcconfig"


BUILD = $(SRCROOT)/../build/lib
PREFIX = $(SRCROOT)/../build/lib/python-static
PY_HEADERS = $(PREFIX)/include/python$(VERSION)$(ABIFLAGS)

PY_LIBS = $(PREFIX)/lib $(BUILD)/bzip2/lib $(BUILD)/openssl/lib $(BUILD)/xz/lib

// pre-patch
// PY_LDFLAGS = -lpython$(VERSION) -ldl -lssl -lbz2 -llzma -lz -liconv

// post-patch
PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl -lssl -lbz2 -llzma -lz
