#include "../common.xcconfig"


PREFIX = $(PYJS_BUILD_LIB)/python-static
PY_HEADERS = $(PREFIX)/include/python$(VERSION)$(ABIFLAGS)

PY_LIBS = $(PREFIX)/lib $(PYJS_BUILD_LIB)/bzip2/lib $(PYJS_BUILD_LIB)/openssl/lib $(PYJS_BUILD_LIB)/xz/lib

// pre-patch
// PY_LDFLAGS = -lpython$(VERSION) -ldl -lssl -lbz2 -llzma -lz -liconv

// post-patch
PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl -lssl -lbz2 -llzma -lz -lcrypto
