#include "../../../maxmspsdk.xcconfig"


MAJ_VER = 3.7
MIN_VER = 7
VERSION = $(MAJ_VER)
SEMVER = $(MAJ_VER).$(MIN_VER)

PYROOT = $(SRCROOT)/../../../py

SUPPORT = $(SRCROOT)/../../../../support

PREFIX = $(SUPPORT)/python$(VERSION)

PY_HEADERS = $(PREFIX)/include/python$(VERSION)m

PY_LIBS = $(PREFIX)

PY_LDFLAGS = -lpython$(VERSION) -ldl

