#include "../../../maxmspsdk.xcconfig"


MAJ_VER = 3.7
MIN_VER = 7
VERSION = $(MAJ_VER)
SEMVER = $(MAJ_VER).$(MIN_VER)

PYROOT = $(SRCROOT)/../../../py
SUPPORT = $(SRCROOT)/../../../../support

// BUNDLE_CONTENTS_FOLDER_PATH
// BUNDLE_EXECUTABLE_FOLDER_PATH
// BUNDLE_FORMAT
// BUNDLE_FRAMEWORKS_FOLDER_PATH
// BUNDLE_LOADER
// BUNDLE_PLUGINS_FOLDER_PATH
// BUNDLE_PRIVATE_HEADERS_FOLDER_PATH
// BUNDLE_PUBLIC_HEADERS_FOLDER_PATH

// COLOR_DIAGNOSTICS

// CONFIGURATION

// CURRENT_PROJECT_VERSION

// CURRENT_VERSION

// DEAD_CODE_STRIPPING

// DEBUGGING_SYMBOLS

// DEPLOYMENT_LOCATION
// DEPLOYMENT_POSTPROCESSING

// DEVELOPMENT_ASSET_PATHS

// FRAMEWORK_SEARCH_PATHS
// FRAMEWORK_VERSION

// HEADER_SEARCH_PATHS

// INFOPLIST_FILE

// INSTALL_DIR

// LD_DYLIB_INSTALL_NAME
// DYLIB_INSTALL_NAME_BASE
// LD_RUNPATH_SEARCH_PATHS

// LIBRARY_SEARCH_PATHS

// LINK_WITH_STANDARD_LIBRARIES

// MAC_OS_X_VERSION_MIN_REQUIRED

// OTHER_CFLAGS
// OTHER_LDFLAGS
// PRODUCT_NAME
// PROJECT_NAME
// PROJECT_DIR = $(SRCROOT)
// SOURCE_ROOT = $(SRCROOT)

// STRIP_INSTALLED_PRODUCT

// CONTENTS_FOLDER_PATH





