#include "../../../maxmspsdk.xcconfig"


MAJ_VER = 3.7
MIN_VER = 7
VERSION = $(MAJ_VER)
SEMVER = $(MAJ_VER).$(MIN_VER)

SUPPORT = $(SRCROOT)/../../../../support


//INSTALL_PATH = @loader_path/../../../../support/Frameworks
//LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/../Frameworks

PYTHON = $(SUPPORT)/Frameworks/Python.framework/Versions/${VERSION}

PY_HEADERS = $(PYTHON)/include/python$(VERSION)m

PY_LIBS = $(PYTHON)/lib

PY_LDFLAGS = -lpython$(VERSION) -ldl



