<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G4032</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>oscar</string>
	<key>CFBundleIdentifier</key>
	<string>com.cycling74.oscar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>7.0.3</string>
	<key>CFBundleLongVersionString</key>
	<string>oscar 7.0.3, Copyright 2014 Cycling '74</string>
	<key>CFBundlePackageType</key>
	<string>iLaX</string>
	<key>CFBundleShortVersionString</key>
	<string>7.0.3</string>
	<key>CFBundleSignature</key>
	<string>max2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>7.0.3</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11C504</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B90</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1130</string>
	<key>DTXcodeBuild</key>
	<string>11C504</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
</dict>
</plist>
