#include "../common.xcconfig"

BUILD = $(HOME)/.build_pyjs/lib
PREFIX = $(BUILD)/python-shared
PY_HEADERS = $(PREFIX)/include/python$(VERSION)$(ABIFLAGS)
PY_LIBS = $(PREFIX)/lib $(BUILD)/bzip2/lib $(BUILD)/openssl/lib $(BUILD)/xz/lib

// pre-patch
// PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl -lssl -lbz2 -llzma -lz -lintl -liconv

// post-patch
PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl -lssl -lbz2 -llzma -lz
