#include "../common.xcconfig"


PREFIX = $(SRCROOT)/../Build/lib/Python
//PY_HEADERS = $(PREFIX)/include/python$(VERSION)$(ABIFLAGS)
//PY_LIBS = $(PREFIX)/lib
//PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl
Python = $(PREFIX)/Python
BZip2 = $(PREFIX)/BZip2
OpenSSL = $(PREFIX)/OpenSSL
XZ = $(PREFIX)/XZ

PY_HEADERS = $(Python)/Headers $(BZip2)/Headers $(OpenSSL)/Headers $(XZ)/Headers
PY_LIBS = $(Python) $(BZip2)  $(OpenSSL) $(XZ)
PY_LDFLAGS = -ldl -lsqlite3 -lffi -llzma -lz
//PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl
