#include "../common.xcconfig"

// This can overriden by the builder at the commandline build
VERSION = 3.11
ABIFLAGS =
PREFIX = $(PYJS_BUILD_LIB)/python-shared

// --------------------------------------------------------------------------------

PY_HEADERS = $(PREFIX)/include/python$(VERSION)$(ABIFLAGS)
PY_LIBS = $(PREFIX)/lib $(PYJS_BUILD_LIB)/bzip2/lib $(PYJS_BUILD_LIB)/openssl/lib $(PYJS_BUILD_LIB)/xz/lib
PY_LDFLAGS = $(LIBS) -lpython$(VERSION)$(ABIFLAGS) -ldl -lssl -lbz2 -llzma -lz -lcrypto

//PY_LDFLAGS = -lpython$(VERSION)$(ABIFLAGS) -ldl -lssl -lbz2 -llzma -lz

PROJECT_HEADERS = $(PY_HEADERS)
PROJECT_LIBS = $(PY_LIBS)
PROJECT_LDFLAGS = $(PY_LDFLAGS)


