#include "../../maxmspsdk.xcconfig"

MAJ_VER = 3.9
MIN_VER = 0
VERSION = $(MAJ_VER)
SEMVER = $(MAJ_VER).$(MIN_VER)

SUPPORT = $(SRCROOT)/../../../../support

PRODUCT_NAME = $(TARGET_NAME)

HEADER_SEARCH_PATHS = $(inherited) $(PY_HEADERS)
LIBRARY_SEARCH_PATHS = $(inherited) $(PY_LIBS)
OTHER_LDFLAGS = $(inherited) $(PY_LDFLAGS)