#include "../../maxmspsdk.xcconfig"

PY_SHORT_VERSION = 3.9

// -------------------------------------------------------------------------
// DON'T CHANGE BELOW HERE
// -------------------------------------------------------------------------

// Don't count on what VERSION is set to here since VERSION is set 
// dynamically, at the time of commandline compilation (via xcodebuild),
// to correspond to the version of the python interpreter.
//
// If you try to compile from xcode though, xcode will rely on the number here
// So you can override it at the target level if desired or changing the 
// value of PY_SHORT_VERSION above to correspond to the version of
// your python interpreter version.
//
// Note that in call cases, commandline compilation will set VERSION
// and other variables such as ABIFLAGS dynamically.

VERSION = $(PY_SHORT_VERSION)
ABIFLAGS = 

PYJS_BUILD_ROOT = $(HOME)/.build_pyjs
PYJS_BUILD_DOWNLOADS = $(PYJS_BUILD_ROOT)/downloads
PYJS_BUILD_SRC = $(PYJS_BUILD_ROOT)/src
PYJS_BUILD_LIB = $(PYJS_BUILD_ROOT)/lib

SUPPORT = $(SRCROOT)/../../../../support
PRODUCT_NAME = $(TARGET_NAME)
HEADER_SEARCH_PATHS = $(inherited) $(PY_HEADERS)
LIBRARY_SEARCH_PATHS = $(inherited) $(PY_LIBS)
OTHER_LDFLAGS = $(inherited) $(PY_LDFLAGS)

// uncomment here if you to build your externals in $(PYJS_BUILD_ROOT)/externals 
// DSTROOT = $(PYJS_BUILD_ROOT)/externals
